@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}

// default stylings
:root {

  //default colors
  --primaryColor: hsl(67, 55%, 25%);
  --hoverColor: rgb(123, 48, 62);
  --paleGreen: rgb(90,98,28);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 18%);
  --greyText: hsl(0, 0%, 85%);
  --bgColor: hsl(0, 11%, 85%);
  --inputColor: hsl(154, 14%, 90%);


  //Fonts and typography
  --biggestFontSize: 2.5rem;
  --h1FontSize: 1.5rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: .938rem;
  --smallFontSize: .813rem;
  --smallestFontSize: .75rem;
}

.flex {
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
  align-items: center;
  gap: 1.5rem;
}

.column {
  flex-direction: column;
}

html {
  font-size: 90%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.message {
  display: none;
}

.showMessage {
  display: block;
  color: var(--whiteColor);
  background-color: var(--hoverColor);
  border-radius: 3px;
  text-align: center;
  padding: 1px;
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
  padding: .8rem 1rem;
}

.btn .icon {
  margin-left: .5rem;
}

.btn:hover {
  color: var(--whiteColor);
  background: var(--paleGreen);
}

// Pages styling
.loginPage {
  height: 100vh;
  justify-content: center;
  
  .container {
    height: 50vh;
    background-color: var(--greyText);
    border-radius: 10px;
    max-width: 768px;
    width: 100vw;
    justify-content: center;
    padding: 20px 30px;
    margin: 20px;

    .imgDiv {
      display: flex;
      height: 100%;
      width: 100%;
      min-height: 250px;
      min-width: 240px;
      max-width: 350px;
      text-align: center;
      justify-content: center;
      margin: auto;
      border-radius: 10px;
      overflow: hidden;

      .title {
        color: var(--hoverColor);
        font-size: var(--h1FontSize);
        padding-top: 20px;
      }

      .footerDiv {
        justify-content: center;

        .text {
          margin-top: 10px;
          text-align: end;
        }

        .btn {
          margin-top: 10px;
          margin-left: 10px;
        }
      }
    }
    
    .formDiv {
      width: 100%;
      flex-direction: column;
    
      .form {
        width: 300px;

        span {
          padding-bottom: 0;
          margin: 0;
        }

        .inputDiv {

          .icon {
            color: var(--whiteColor);
            font-size: var(--h1FontSize);
          }

          input {
            background: none;
            outline: none;
            border: none;
            // width: 200px;
            border-radius: 5px;
          }

          label {
            color: var(--blackColor);
            font-weight: 400;
            font-size: 14px;
            display: block;
          }

          .input {
            gap: .5rem;
            padding: 1rem;
            background: var(--inputColor);
            border-radius: 10px;
          }

        }

        .btn {
          width: 300px;
        }
      }
      
    }
  }
}

@media (max-width: 900px) {
  .loginPage {
    .container {
     flex-direction: column;
     height: 90vh;
   }
  }
}
