@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

:root {
  --primaryColor: hsl(67, 55%, 25%);
  --hoverColor: rgb(123, 48, 62);
  --paleGreen: rgb(90,98,28);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 18%);
  --greyText: hsl(0, 0%, 75%);
  --bgColor: hsl(0, 11%, 85%);
  --inputColor: hsl(154, 14%, 90%);
  --biggestFontSize: 2.5rem;
  --h1FontSize: 1.5rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: .938rem;
  --smallFontSize: .813rem;
  --smallestFontSize: .75rem;
}

.flex {
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
  align-items: center;
  gap: 1.5rem;
}

.column {
  flex-direction: column;
}

html {
  font-size: 90%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
  padding: 0.8rem 1rem;
  color: var(--paleGreen);
}

.btn .icon {
  margin-left: 0.5rem;
}

.btn:hover {
  color: var(--whiteColor);
  background: var(--paleGreen);
}

.loginPage {
  height: 100vh;
  justify-content: center;
}
.loginPage .container {
  height: 90vh;
  background-color: var(--bgColor);
  border-radius: 10px;
  max-width: 768px;
  width: 100vw;
  justify-content: center;
  padding: 20px 30px;
  margin: 20px;
}
.loginPage .container .imgDiv {
  display: flex;
  height: 100%;
  width: 100%;
  min-height: 250px;
  min-width: 240px;
  max-width: 350px;
  text-align: center;
  justify-content: center;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
}
.loginPage .container .imgDiv img {
  max-height: 290px;
}
.loginPage .container .imgDiv .title {
  color: var(--hoverColor);
  font-size: var(--h1FontSize);
  padding-top: 20px;
}
.loginPage .container .imgDiv .footerDiv {
  justify-content: center;
}
.loginPage .container .imgDiv .footerDiv .text {
  margin-top: 10px;
  text-align: end;
}
.loginPage .container .imgDiv .footerDiv .btn {
  margin-top: 10px;
  margin-left: 10px;
}
.loginPage .container .formDiv {
  width: 100%;
  flex-direction: column;
}
.loginPage .container .formDiv .form {
  width: 300px;
}
.loginPage .container .formDiv .form span {
  padding-bottom: 0;
  margin: 0;
}
.loginPage .container .formDiv .form .inputDiv .icon {
  color: var(--whiteColor);
  font-size: var(--h1FontSize);
}
.loginPage .container .formDiv .form .inputDiv input {
  background: none;
  outline: none;
  border: none;
  border-radius: 5px;
}
.loginPage .container .formDiv .form .inputDiv label {
  color: var(--blackColor);
  font-weight: 400;
  font-size: 14px;
  padding: 0.5rem 0 0 0;
  display: block;
}
.loginPage .container .formDiv .form .inputDiv .input {
  gap: 0.5rem;
  padding: 1rem;
  background: var(--inputColor);
  border-radius: 10px;
}
.loginPage .container .formDiv .form .btn {
  width: 300px;
}

@media (max-width: 900px) {
  .loginPage > .container {
    flex-direction: column;
  }
}/*# sourceMappingURL=App.css.map */